*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
    background-color: #ffffff;
    color: #222
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;

}
header{
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.nav-links{
  text-decoration: none;
    color: #575757;
    font-weight: 500;
    transition: 3s;
    display: flex;
    gap: 35px;
    list-style: none;
}
.nav-links a{
    color: #575757;
    text-decoration: none;
    font-size: 18px;
}
.btn{
    padding: 14px 28px;
    border:none;
    background: #1D4ED8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
    text-decoration: none;
    
}
.btn:hover{
    background: #372dbd;
}
.hero{
    background: linear-gradient(rgba(20,20,40,.75),rgba(20,20,40,.75)),
    url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 130px 20px;

}
.hero h1{
    font-size: 80px;
    margin-bottom: 20px;
    letter-spacing: -3.2px;
    font-style: inter;
}
.hero p{
    max-width: 650px;
    margin: 0 auto 35px;
    line-height: 1.8;
    font-size: 18px;
}
section h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.speakers{
    padding: 100px 0;
}
.speaker-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.card{
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    transition: .3s;
    border: 1px solid #ffffff
}
.card:hover{
    transform: translateY(-8px);
}
.card img{
    width:100%;
    height: 300px;
    object-fit: cover;
}
.card-content{
    padding: 20px;

}
.card-content h3{
    margin-bottom: 8px;
}
.card-content p{
    color: #575757;
}
.card-content h4{
    font-size: 12px;
    color: #2563EB;
    letter-spacing: .3px;
}
.pricing{
    padding: 100px 0;
    background: #ffffff;
    
}
.price-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

}
.container h2{
    color: black;
}
.price-card{
    background: white;
    border-radius: 12px;
    padding: 32px;
    text-align: left;
    transition: .3s;
    display: flex;
    flex-direction: column;
    border: solid #E5E7EB ;
}
.price-card.active{
    background-color:#0D1B2A ;
    color: #fff;
    border: none;
}
.price-card.active h3,
.price-card.active p,
.price-card.active li{
    color: #fff;
}
.price-card.active h4{
    color:#93C5FD ;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}
.price-card.active button{
    background:#1D4ED8;
    border: none;
    padding: 14px 28px;
    border:none;
    background: #1D4ED8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
    text-decoration: none;
    
}
.price-card button{
    border:solid #1D4ED8;
    padding: 14px 28px;
    border:solid #1D4ED8 ;
    color: #1D4ED8;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
    text-decoration: none;
}

.price-card:hover{
    transform: translateY(-8px);
}

.price-card h3{
    font-size: 40px;
    color: black;
    margin: 20px 0;
    text-align: left;
}
.price-card h4{
    color: #888888;
    text-align: left;
}
.price-card p{
    color: #888888;
    margin: 8px 0 28px;
}
.price-card ul li{
    padding: 10px 0;
    border-bottom: none;
    color: #888888;
    line-height: 1.6;
    margin-bottom: 16px;
    

}
.price-card ul li::marker{
    color:#1D4ED8 ;

}
.pricing{
    color: #575757;
    text-align: center;
    font-size: 16px;
    
}
.price-card ul{
    list-style: disc;
    padding-left: 18px;
    margin: 25px 0;
    border-top: 1px solid#E5E7EB;
    padding-top: 28px;
}
.pricing-card button{
     padding: 14px 28px;
    border:none;
    background: #1D4ED8;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
    text-decoration: none;
    
   
}
.price-card ul li:last-child{
border-bottom: none;
}
.placeholder{
    padding: 100px 0;
}
.ai-box{
    background: white;
    padding: 60px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);

}
.ai-box h2{
    margin-bottom: 20px;
}
.ai-box p{
    color: #575757;
    margin-bottom: 30px;
}
.newsletter-form{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.newsletter-form input{
    width: 350px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;

}
.newsletter-form button{
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background: #1D4ED8;
    color: white;
    cursor: pointer;
}
.newsletter-form button:hover{
    background:  #1D4ED8;
}
footer{
    background: #111827;
    color: white;
    text-align: center;
    padding: 30px 0;
}